
    body {
        background-image: url('./images/stars.jpg');
      background-position: center center;

    }
    .to-be-retrieved{
      display: none;
      width: 100%;
      height: auto;
    }
    .spinner{
      display: block;
    }
    .nav-item:hover{
      transition: transform .3s;
      transform: scale(1.6);

    }

    #mina-face:hover{

      transition: transform .7s;
      transform: scale(1.2);
      border: 3px solid #03d3fc;
    }
    #contact-sign:hover{

      transition: transform .7s;
      transform: scale(1.2);
    }
    #location-sign:hover{

      transition: transform .7s;
      transform: scale(1.2);
    }
    #mina-face{
      margin-left: auto;
      margin-right: auto;
      padding:0px ;

    }
    #mina-img{
      justify-content: center;
    }
    .slide{
      position: relative;
      animation-name: slide-left;
      animation-duration: 5s;
      animation-fill-mode: forwards;
    }
    @keyframes slide-left {
      0%   {left:0px; top:0px;}
      100%  {left:-770px; top:0px;}
    }
    #jumbo1{
      /* background-image: url("floral2.jpg"); */
      margin-top: 100px;
      justify-content: center;
      background: rgba(50, 153, 168, 0.2);
      background-position: center center;
      background-size: 100% 100%;
      width: 90%;
      height: 180px;
      justify-content: center;
      margin-left: 5%;


    }
    #jumbo2{
      margin-top: 50px;
      justify-content: center;
      background: rgba(50, 153, 168, 0.4);
      background-position: center center;
      background-size: 100% 100%;
      width: 90%;
      height: 155px;
      margin-left: 5%;

    }
    #jumbo3{

      margin-top: 100px;
      justify-content: center;
      background: rgba(50, 153, 168, 0.3);
      background-position: center center;
      background-size: 100% 100%;
      width: 90%;
      height: 145px;
      margin-left: 5%;

    }
    #container1{
     justify-content: center;
    }
    #container2{
     justify-content: center;
     width: 80%;

    }
    #footer{
          font-size: 22px;
          clear: both;
          background: rgba(50, 153, 168, 0);
          color: #03d3fc;
          line-height: 5%;
          position: fixed;
          bottom: 0px;
          height: 20px;
          width: 100%;

    }
    .copyrights:hover{
      transition: transform .7s;
      transform: scale(1.1);


    }
    .copyrights{

      float: right;
    }

    #brideAndGroom{
      justify-content: center;

      width: 80%;
      margin-left:10%;
      margin-top: 20px;
      margin-bottom: 130px;
      animation-duration: 5s;
      animation-delay: 0.2s;
      animation-iteration-count: infinite;
    }
    #animatedCenter{
      animation-duration: 5s;
      animation-delay: 1s;
      animation-iteration-count: infinite;
    }

    #bride{
      float: left;
    }
    #groom{
      float: right;
    }
    #locationMap{
      text-align: center;
 font-family: 'Sofia';font-size: 26px;
 color:#42f5d7;
    }
    #Map:hover{
      transition: transform .3s;
      transform: scale(1.1);

    }
    #navigation{
font-size: 28px;
    }
