
    body {
      background-image: url('back.jpg');
    }
    .to-be-retrieved{
      display: none;
      width: 100%;
 height: auto;
    }
    .spinner{
      display: block;
    }
    #mina-face:hover{
      transition: transform .7s;
      transform: scale(1.2);
      border: 3px solid #03d3fc;
    }
    #mina-face{
  border: 3px solid #03d3fc;

    }
    #mirna-face:hover{
      transition: transform .7s;
      transform: scale(1.2);
      border: 3px solid #03d3fc;
    }
    .slide{
      position: relative;
      animation-name: slide-left;
      animation-duration: 5s;
      animation-fill-mode: forwards;
    }
    @keyframes slide-left {
      0%   {left:0px; top:0px;}
      100%  {left:-770px; top:0px;}
    }
    #jumbo1{
      padding: 5px;
      /* background: rgba(50, 153, 168, 0.1); */
      background-image: url("floral2.jpg");
      background-position: center center;
      background-size: 100% 100%;
      width: 100%;
      height: auto;

    }
    #jumbo2{
      padding: 5px;
      background: rgba(50, 153, 168, 0.1);
      height: 400px;
      width: 100%;
      height: auto;

    }
    #touchMina{

    vertical-align: middle;
    horizontal-align: middle;
    width: 100%;
    height: auto;


    }
